#introduction{
    background-image: url(../images/image1.jpg);
    text-align: center;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #about{
      text-align: center;
  }
  #services{
      background-image: url(../images/image2.jpg);
      text-align: center;
      color: white;
  }
  #portfolio{
      text-align: center;
  }
  #contact{
      background-image: url(../images/image3.jpg);
  }