#introduction{
    background-image: url(../images/image1.jpg);
    text-align: center;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #about{
      text-align: center;
  }
  #services{
      background-image: url(../images/image2.jpg);
      text-align: center;
      color: white;
  }
  #design{
      text-align: center;
  }
  .design-showing{
      display: none;
  }
  .development-showing{
    display: none;
}
.prodManagement-showing{
    display: none;
}
  #portfolio{
      text-align: center;
  }
  .border{
      border: 4px white;
  }
  .text{
      color: white;
      font-weight: bold;
  }
  .col{
      float: left;
      width: 20%;
      padding: 0px;
      
  }
  .row{
      
  }
  #contact{
      background-image: url(../images/image3.jpg);
      color: white;
      text-align: center;
  }
  .form input{
      background: none;
      border: 1px solid white;
      color: white;
      margin-bottom: 20px;
      border-radius: 0px;
      text-align: left;
  }
  .footer{
      text-align: center;
  }